.imagen{
	width: 100px;
}
.imagen-esp{
	width: 64px;
}
.imagen-esp-dos{
	width: 85px;
}
.title-serv{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: $green;
	font-size: 20px;
}
.listado{
	list-style-type: disc !important; 
	margin-left: 1rem;
}
.exito{
	color: $green;
	display: block;
	&:hover{
		color: darken($green, 10%);
	}
}
.tec-dest{
	color:$green;
	font-weight: bold;
}
.postgre{
	width: 100%;
	cursor: pointer;
}
.django{
	width: 80%;
}
.tecnologias{
	margin-top: 4rem;
}
.tec-img{
	margin-bottom: 6rem;
}
@media #{$small-and-down} {
    .re{
    	img{
    		margin-top: -17px;
    	}
	}
	.redis{
		img{
			margin-top: 16px;
			margin-bottom: -15px;
		}
	}
}
.over{
	position: absolute;
    width: 100%;
    height: 91%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}
.title-first{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight: 300;
	margin-top: 20vh;
}
.seccion{
	margin-top: 50px;
}